{% block extra_javascript %}
  <script src="{{ STATIC_URL }}nutrition/javascripts/d3.min.js"></script>
  <script src="{{ STATIC_URL }}nutrition/javascripts/queue.min.js"></script>
  <script src="{{ STATIC_URL }}nutrition/javascripts/underscore-min.js"></script>
  <script src="{{ STATIC_URL }}nutrition/javascripts/growthchart.js"></script>
{% endblock extra_javascript %}

{% block extra_stylesheets %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}nutrition/stylesheets/growthchart.css" />
{% endblock extra_stylesheets %}

<div class="spanl2">
  <div>
    <div class="span6">
      <div id="chart-boys"></div>
    </div>
    <div class="span6">
      <div id="chart-girls"></div>
    </div>
  </div>
</div>
